@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("github.com") {
  .js-navigation-open{
    border-left-width: 10px;
    border-left-style: solid;
    border-color: transparent;
    padding-left: 5px
  }

  .js-navigation-open[title$='.md']{border-color: lightgray;}
  .js-navigation-open[title$='.txt']{border-color: lightgray;}

  .js-navigation-open[title$='.tpl']{border-color: lightgreen;}
  .js-navigation-open[title$='.tmpl']{border-color: lightgreen;}
  /** html color */
  .js-navigation-open[title$='.xml']{border-color: #e44b23;}
  /** js color */
  .js-navigation-open[title$='.json']{border-color:#f1e05a;}
